<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>scoreboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FD65FDC91E88ADF400D9CEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD65FDDD1E88ADF500D9CEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FD65FDE81E88ADF500D9CEB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
